<footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="container">
        <p class="mb-0">&copy; {{ "now"|date("Y") }} Jammkan - Clone de Trello avec Symfony 7</p>
    </div>
</footer>
